

*{
    box-sizing: border-box;
}
body{
    padding:0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: white;

}

.header{
    width:100% ;
    background-image:linear-gradient(to right,blue,navy) ;
height:auto ;
color:white;
font-size: 40px;
padding: 15px;
text-align: center;
font-weight: bold;

}
.outercontainer{
    display: flex;
    height: 92vh;
    padding: 20px;
}
.leftcontainer{
    display: flex;
    flex-direction: column;
    width: 25%;

}
.rightcontainer{
    display: flex;
    flex-direction: column;
    width:75%;
    padding:10px;
    
}
.currentviewcontainer{
    border: 2px solid black;
    padding: 10px;
    height: auto;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
#cityinput{
    width: 100%;
    padding:6px;
    margin: 10px 0;
    font-size: 18px;

}
.history{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.466);
    padding: 12px;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;


}
#button{
    background-color: skyblue ;
}
.historycontainer{
    border-top: 3px solid rgba(128, 128, 128, 0.466);
    padding-top: 15px;
    margin-top: 15px;
}
.forecastcards{
    display: flex;
    width:100%;
    justify-content: space-between;
    padding-top: 15px;
}
.forecastcard{
    width:18%;
    height:auto;
    background-color: #2d3b45;
    color: white;
    padding: 0px 20px
    

}
.forecastcontainer{
    padding: 15px
}
h3{
    margin: 0%;
    padding: 0%;
}
#uv{
    
    color:white;
    padding: 5px 15px;
    border-radius: 3px ;
    
}
img{
    width: 70px;
    margin-left: -15px;
}
#currentcity{
    display: inline-block;
    padding-right: 15px;
    
}
.currentheader{
    display: flex;
    align-items: center;
}